<header>  
    <section class="header-topbar">
        <div class="container theme-container">  
            <div class="border">
                <div class="row">
                    <div class="col-md-5 col-sm-6"> 
                        {{ header_slogan|t }}
                    </div>
                    <div class="col-md-7 col-sm-6">
                        <ul class="list-items pull-right top-nav">
                            {{ page.top_menu }}                                                                   
                        </ul>
                    </div>
                </div>    
            </div>
        </div>
    </section>
    <section class="main-header">
        <div class="header-wrap upper-text"> 
            <div class="container theme-container">
                <div class="top-bar">
                    <div class="row">
                        <div class="col-md-2 col-sm-3"> 
                            <div class="logo  navbar-brand">
                                {% if header_logo_style == 'font_logo' %} 
                                    <h2 class="logo-title  font-2"> <a href="{{ path('<front>') }}"> {{ text|t }} </a> </h2> 
                                {% else %}
                                    <a href="{{ path('<front>') }}"><img alt="{{ site_name }}" src="{{ header_logo_image_bg }}"></a>
                                {% endif %}                               
                                <span class="nav-trigger toggle-hover visible-xs">
                                    <a class="toggle-icon icon-cube size-24" href="#"> </a>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-12 navigation font-2">
                            {{ page.main_menu }}
                        </div>
                        <div class="col-md-3 col-sm-5 top-right text-right">
                            <ul class="top-elements">

                                {{ page.header_cart }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </section>
</header>