{% import _self as menus %}
{{ menus.menu_links(items, attributes, 0) }}
{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
        {% set classes_nav = ['nav','navbar-nav', 'primary-navbar'] %}
      <ul {{ attributes.addClass(classes_nav) }}>
    {% else %}
      <ul class="dropdown-menu">
    {% endif %}
    {% for item in items %}
      {%
        set classes = [
          'menu-item',
          menu_level == 0 ? 'dropdown',
          menu_level == 1 and item.is_expanded ? 'dropdown open',
          item.is_expanded ? 'menu-item--expanded',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'menu-item--active-trail',
        ]
      %}

      <li{{ item.attributes.addClass(classes) }}>
        {% if item.is_expanded %}
          {{ link(item.title, item.url, { 'class':['dropdown-toggle'], 'data-toggle':['dropdown'] }) }}
        {% else %}
          {{ link(item.title, item.url) }}
        {% endif %}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
