<div class="product-container isotope-item tab-1">
    <div class="swiper-slide">
         <div class="thumbnail-wrap">
            <div class="thumbnail">
                <div class="thumbnail-img light-bg">
                    <div class="flipper">
                        
                        {% set image_product_url_1 = getUrlByImageStyle(node.uc_product_image.0.entity.uri.value, 'image_270x360') %}
                            <div class="front">
                            <a href="{{ url }}"> <img class="img-responsive" src="{{ image_product_url_1 }}" alt="{{ node.getTitle() }}"/> </a>
                            </div>

                        {% set image_product_url_2 = getUrlByImageStyle(node.uc_product_image.1.entity.uri.value, 'image_270x360') %}    
                        <div class="back">                                                               
                            <a href="{{ url }}"> <img class="img-responsive" src="{{ image_product_url_2 }}" alt="{{ node.getTitle() }}"/> </a>
                        </div>                                                       
                    </div>
                    <ul class="thumbnail-conten list-items black-bg">
                        <li class="epros-cart-grid">{{ content.add_to_cart }}</li>
                        <li class="epros-view-grid"> <a href="{{ url }}"> <i class="icon ion-ios-eye-outline size-24"></i></a> </li>
                    </ul>                                                    
                </div>
                <div class="caption">
                    <div class="caption-title space-15"><a href="{{ url }}" class="title-2">{{ node.getTitle() }}</a></div>
                    <div class="caption-text font-3 epros-price-grid"> <span class="size-18 black-color">{{ content.price }}</span> </div>                                                   
                </div>
            </div>
        </div>
    </div>
</div>